

  <section class="testimonial_section" id="inform">
    <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <h3 class="poppins head">Planning website (re)build? This time align it with your BUSINESS GOALS.</h3>

          </div>
            <div class="col-lg-12 ">
                <div>
                    <div class="testimonialItems playfair">
                        <p>Today, the design and functionality of your website is more important than ever.  Merely placing content will no longer appeal to your site visitors.  Let the redesign be growth driven and aligned to the goals of your business.</p>
                        <p class="pad">From conception and strategy to design and implementation, Gurujada helps you launch a beautifully-designed, data-driven, and mobile-friendly website that’s easy-to-navigate, compelling, and built for conversions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
