<section class="sectionbenefit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="comonTitle whites mb100">Your New Website Will Be Optimized For:</h3>
            </div>
        </div>
         <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/user.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>User Experience</h3>
            <h5>Show your users the right content at the right time to achieve higher conversion rates and quality leads.</h5>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/speed.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>Speed</h3>
            <h5>Ensure great user experience and improve the load times so that your users get information in a timely manner.</h5>
            </div>
            </div>
        </div>
          <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/responsive.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>Responsive Design</h3>
            <h5>Deliver a consistent experience for your users across mobile devices and browsers with our strategized layouts.</h5>
            </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/conversion.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>Conversions & Lead Generation</h3>
            <h5>Convert your users  into leads and sales with strategically placed calls-to-action.</h5>
            </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/seo.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>Search Engine Optimization</h3>
            <h5>Rank higher and get found in search engines via our on-page and off-page optimization.</h5>
            </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-2 text-center">
            <div class="">
            <img src="/images/ico/security.svg" height="80px" alt="">
            </div>
            </div>
            <div class="col-md-10 ">
            <div class="benefits">
            <h3>Security</h3>
            <h5>Provide your users with a secure experience by enabling an SSL on your website. Give them the comfort that their information is safe.</h5>
            </div>
            </div>
        </div>
    </div>
</section>