<section class="shopSection">
  <div class="container-fluid shopSectionRow">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="comonTitle">Latest Blogs</h4>
      </div>
    </div>
    <div class="row product_all">
      {{ range first 3 (where .Data.Pages "Section" "blog") }}
      {{ .Render "latest" }}
      {{ end }}
        <div class="col-lg-12">
      <div class="pull-right readmore">
       <a href="/blog">Read More</a>
      </div>
      </div>  
       </div>

      <div class="clearfix hidden-lg"></div>
   
  </div>
</section>