  <section class="blogbetter ">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12 text-center">
                         <div class="blogbetter">
                           <h1>{{ .Params.heading }}</h1>
                           </div>
                     </div>
                 </div>
             <div class="row">
                     <div class="col-lg-8 col-lg-offset-2 text-center">
                       <img src="{{ .Params.bgimg }}" width=600px; class="img-responsive" />  
                        <h2>{{ .Params.text1 }}</h2>
                        <h3>{{ .Params.text2 }}</h3>
                     </div>
             </div>
                 <div class="row">
                     <div class="col-lg-12 text-center">
                         <div class="blogbetter">
                           
                            <h4>Here’s help.</h4>
                             <p>We are building something that should make it easier for you to write better blog posts, and write more often.</p><p> Details on the other side <img src="/images/getawebsite/happy.svg" alt="happy" /></p>
                         </div>
                     </div>
                 </div>
                 
             </div>
         </section>
          <section class="blogbetter">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12 text-center">
                         <div class="blogbetter">
                            <h3>Sign up to join the early beta.</h3>
                            <p> We will notify you as soon as we open our beta testing slots.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </section>