<section class="copyrightSection">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <div class="copyrightText">
                      
                          <p><span>That's all on this page. </span> <span>Write to us at </span><a href="mailto:hello@gurujada.com" target="_top">hello@Gurujada.com</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
