<div class="row">
     <div class="col-sm-12">
<div class="mediatitle">
<a href="{{ .mediaurl }}"><h2 >{{ .mediatitle }}</h2></a>
</div>
</div>

    <div class="col-sm-3">
        <div class="singleInst">
          <a class="example-image-link" href="{{ printf "%s" .image }}" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="{{ printf "%s" .image }}" alt="" /></a>
<h6>click on image</h6>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="twitterfeed">
            <div class="singleTwitter">
                    <p>{{ .mediadescription }} </p>
                <div class="metaTwitter">
                     <h2 class="poppins"><img src="/images/getawebsite/chat.png" alt="happy" /><commentList>Gurujada voice</commentList> <comment>{{ .mediacomment }}</comment></h2> <h3 class="poppins"><ul class="socialDiv">
                    <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u={{ .mediaurl }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="tw"><a href="https://twitter.com/intent/tweet?status={{ .mediacomment }}-{{ .mediaurl }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="in" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .mediaurl }}&title={{ .mediacomment }}&source=Gurujada" target="_blank"  class="btn-floating btn-small btn-tw"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
                <time><abbr class="timeago" title="{{ .mediatime }}">{{ .mediatime }}</abbr></time></h3>
                                                     </div>
            </div>

        </div>
    </div>



</div>
    <div class="mediaserves">    </div>
