<div class="menu_overlay"></div>
      <header class="">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-3 paddingTop">
                      <div class="logo1">
                          <a href=""><img src="/images/gurujada_logo.png" alt=""></a>
                      </div>
                  </div>
                  <div class="col-sm-9 PaddingRight">
                      <nav class="mainNav2">
                          <div class="mobile_menu">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                          <ul >
                            <li class="sub-menu blogbetter"><a href="/blogbetter"><button class="button" >Sign Up To Blog Better</button></a>
                              </li>
                            <!-- <li class="sub-menu"><a href="/daily">Daily</a>
                              </li> -->
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </header>
