<div class="container">


<div class="row equation">
<div class="col-md-12">
<h2 class="underlined-header white">X.AI Recommends</h2>
<img class="calender" id="calendar-icon" src="/images/wall-calendar.svg" />
<h3 class="equationheading">Why the Professional plan?</h3>
<p class="top-text">
Say you make <strong>$90,000</strong> a year and schedule<br /><strong>8</strong> meetings a week. Each meeting takes about<br /><strong>3.5</strong> emails to negotiate. And you spend <strong>5</strong><br />minutes writing each scheduling related email.
</p>
</div>
<div class="formula">
<div class="row ">
  <div class="col-md-2"> </div>
<div class="col-md-10 center">
<div class="col-md-5 hour">
<h2>That's</h2>
<h1>8x3.5x5</h1>
<h1>=</h1>
<h1 class="hourh1">2.33 hrs/week</h1>
<p>
or about 10hrs/month
</p>
<h4>Spent scheduling</br> meeting</h4>
</div>
<div class="col-md-5 hours">
<h2>Your </br>hourly rate:</h2>
<div class="row">
<div class="col-md-6 ">
<h1 class="inline">$90,000</h1>  </div>
<div class="col-md-6 ">
<h6 class="hourh6 ">plus 40% tax & overhead</h6>
</div>
</div>
<div class="col-md-7 ">
<h1 class="hourssum">÷1,800</h1></div>
<div class="col-md-5 ">
<h6 class="hourh7">work hours in a year</h6>
<h6></h6></div>

<div class="col-md-12 ">
<h1 class="hoursequal">=</h1>
</div>
<div class="col-md-6 ">
</div>
<h1 class="hourh1">~$70/hr</h1>
</div>



</div><div class="col-md-1"> </div>
</div>
</div>
<p class="bottom-text">Which means you're investing<br /><span>$700 every month</span> into scheduling.</p>
<p class="smaller">At that rate, $39/month <strong>(or 1,700% ROI)</strong> seems <br />like a bargain. We could be biased of course.
</div>
</div>
