   <main>
       <div class="container-fluid">
       </br>
         <div class="blog_top_heading">
         <h1>The Gurujada blog</h1>
        <h2>A humble attempt to demystify online marketing. </h2>
      </div>
         <section class="apporachsec02">
           <div class="container">
             <div class="row">
               <div class="col-md-4 blli">
                 <div class="mix web new dig">
                   <div class="">
                     <div class="journalThumb">
                       <a href="{{ .URL }}"><img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="blog image"></a>
                     </div>
                     <div class="j_contentW">
                       <div class="journalmeta">
                         <a href="#" class="jnalDate">{{ .Date.Format "2 Jan 2006" }}</a>
                         <p class="text-right">
                           {{ .ReadingTime }} min read
                         </p>
                       </div>
                       <!-- <div class="journalmeta">
                         {{ partial "meta_aside.html" . }}
                       </div> -->
                       <div class="j_content">
                       <h1 class="j_content_tit"><a href="{{ .URL }}">{{ .Title }}</a></h1>
                         <p>{{ .Description }}</p>
                         <h3>  By
                         <a href="https://plus.google.com/u/0/+srinivasvedantam">
                           {{ if .Params.author }} {{ .Params.author }} {{ else }}
                           {{ .Site.Params.author }} {{ end }}
                         </a>
                         </h3>
                       </div>
                       <div class="journalBtn">
                         <a href="{{ .URL }}" class="sy_btn">Read More <i class="flaticon-arrows-2"></i></a>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
     </div>
    </div>
   </section>
      </div>
     </main>
