<section class="what_we_do" id="scrolltoDown">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="comonTitle">Here is what clients are saying about our services</h4>
            </div>
        </div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="false">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">

            <div class="col-sm-12">
                <div class="iconBox test text-center animated-box">
                    <img src="/images/homepage/rebecca.jpg" alt="Web" />
                    <h3 class="playfair"><span class="name">Rebecca Lacy,</span> Author</br><a href="http://leadershipinwonderlandstaging.s3-website-us-east-1.amazonaws.com/" target="_blank"> Leadership In Wonderland</a></h3>

                    <div class="box_details">
                        <p>
                            Developing a website for a book is a surprisingly personal enterprise. After putting so much effort and love into writing the book, you want the website to do it justice. That is exactly what we got by working with Gurujada. They exhibited the ability
                            to hear what we wanted, sometimes when we had a difficult time expressing it; and they were patient and kind. Throughout the process, they were highly professional and creative. All in all, I am happy with the results and the
                            process to get to the end product.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="item">
       <div class="row">

            <div class="col-sm-12">
                <div class="iconBox test text-center animated-box">
                    <img src="/images/homepage/alex.jpg" alt="Web" />
                    <h3 class="playfair"><span class="name">Alex Knapp,</span> Entrepreneur</br><a href="https://www.turn2lending.com" target="_blank"> Turn 2 Lending</a></h3>

                    <div class="box_details">
                        <p>
                           Gurujada team did a fabulous job with our website. They provided us with some great advice, designs and features that we didn't even know existed. They were incredibly good at responding to our questions and hand held us through the entire process. It was painless, easy, quick and much better than anything I could ever have imagined. I definitely recommend their services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    
      <div class="item">
       <div class="row">

            <div class="col-sm-12">
                <div class="iconBox test text-center animated-box">
                    <img src="/images/homepage/imkatya.jpg" alt="Web" />
                    <h3 class="playfair"><span class="name">Katya Seberson,</span> Instructor</br><a href="https://www.executivemind.net" target="_blank"> Executivemind</a></h3>

                    <div class="box_details">
                        <p>
                          I'm delighted! My website is very critical to my business and the Gurujada team has never let me down. Many of my students are saying " Katya, your website rocks!". I'm super glad it actually works!
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
       
    </div>
</section>