<section >
  <div class="contact1Header">
      <h1>Not convinced yet? <h style="color:red">Start off with a free 30 minute consultation.</h></h1>
  </div>
<!-- <div class="containerform">
   <div class="wrapper">
     <ul class="steps">
       <li class="is-active">Part 1</li>
       <li>Part 2</li>
       <li>Part 3</li>
     </ul>......class="contactsecform"...add top
     <form id='fooo' class="form-wrapper">
       <fieldset class="set is-active">
         <h3>Your Details</h3>
         <input type="text" name='name' id='name' placeholder="Your Business Name:" required="">
         <input type="text" name="yourname" id="yourname" placeholder="Your name:" required="">
         <input type="text" name="email" id="email" placeholder="Your email address:" required="@">
         <input type="text" name="website" id="website" placeholder="A website that you really like:" required="">
       <button class="button" value="">Save and continue</button>
       </fieldset>
       <fieldset class="set">
         <h3>Details</h3>
         <input type="text" name="url" id="url" placeholder="Existing website URL (if you have one):" required="">
         <input type="text" name="business" id="business" placeholder="What is your business into (Clothing, Technology, Book, Blog etc):" required="">
         <input type="text" name="customers" id="customers" placeholder="Who are your customers (Students, Professionals, Old people, etc.):" required="">
         <input type="text" name="offer" id="offer" placeholder="What do you sell or offer (Products or services that you offer):" required="">
                  <button class="back" value="">back</button>
         <button class="button" value="">Save and continue</button>
       </fieldset>
       <fieldset class="set">
         <h3>Details</h3>
         <input type="text" name="anything" id="anything" placeholder="Anything else that you want to tell us (instructions, more info.):" required="">
         <input type="number" name="phone" id="phone" placeholder="Your Phone number:" required="10">
         <input type="text" name="expected" id="expected" placeholder="When do you expect to see your new website (tomorrow, next week, next month?):" required="">
         <button class="back" value="">back</button>
         <button class="submit button" type="submit" value="">Save and continue</button>
       </fieldset>
       <fieldset class="set">
         <h3>Thank You For Your Details</h3>
         <p>We Will Get Back To You Soon.</p>
          <button class="button">Reset</button>
       </fieldset>
     </form>
   </div>
 </div> -->
</section>
