<div class="col-lg-4 col-sm-6  ">
    <div class="single_product offerProduct hei_product">
        <a href="{{ .URL }}"><div class="productImg">
            <img src="{{ .Site.BaseURL}}{{ .Params.bannerl }}" alt="">
        </div></a>
        <div class="lavel">
            <p class="offer">{{ .Date.Format "2 Jan 2006" }}</p>
        </div>
        <div class="product_dec">
            <div class="">
                <h2 class="productTitle"><a href="{{ .URL }}" >{{ .Title | safeHTML | truncate 50}}</a></h2>
            </div>
        </div>
    </div>
</div>