<paymeny>
	<div class="jumbotron jumbotron-main parallax-window" id="home" data-parallax="scroll" data-image-src="/images/sbs.jpg">
		<div class="container center-vertically-holder">
			<div class="center-vertically">
				<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
					<h2 class="scaleReveal hvr-bubble-float-bottom">
						<strong>Thank you for your business. Click the button below to subscribe. This sets up a recurring payment cycle.</strong>
					</h2>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="EXDVTKK22BNMQ">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
		</form>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
	</div>
</paymeny>
